<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="stylesheet" href="/style.out.css"/>
        <link rel="stylesheet" href="/homepage.css">
        <meta name="generator" content="{{ eleventy.generator }}">
    </head>
    <body class="min-h-screen antialiased bg-white">
        <nav class="p-4" aria-label="Navigation menu">
            <div class="flex justify-between items-center max-w-4xl mx-auto">
                <div class="logo-section">
                    <div class="logo-square">
                        <span class="logo-text">EVERYDAY<br>LEARNING</span>
                    </div>
                </div>
                <div class="nav-links">
                    <a href="/about/" class="nav-link">About</a>
                </div>
            </div>
        </nav>
        
        <main class="px-4 grow">
            <div class="max-w-4xl mx-auto mb-16 sm:mb-24">
                {{ content | safe }}
            </div>
        </main>
        
        {% if metadata.copyrightText %}
            <footer class="px-4 pb-16 sm:pb-24">
                <div class="max-w-4xl mx-auto prose-sm prose text-center text-slate-600">{{ metadata.copyrightText | markdown | safe }}</div>
            </footer>
        {% endif %}
    </body>
</html>